<p>Inventory add edit works!</p>

<!--<div class="d-flex flex-row bd-highlight mb-3">
  <div class="p-2 w-50 bd-highlight">
    <div class="input-group mb-3">
      <span class="input-group-text">Name</span>
      <input type="text" class="form-control" [(ngModel)]="EmployeeName">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Department</span>
      <select class="form-select" [(ngModel)]="Department">
        <option>--Select--</option>
        <option *ngFor="let dep of DepartmentList">
          
        </option>
      </select>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">DOJ</span>
      <input type="date" class="form-control" [(ngModel)]="DateOfJoining">
    </div>
  </div>
  <div class="p-2 w-50 bd-highlight">
    <img width="250px" height="250px" [src]="PhotoFilePath" />
    <input class="m-2" type="file" (change)="uploadPhoto($event)">
  </div>
</div>
<button type="button" (click)="addEmployee()" *ngIf="emp.EmployeeId=='0'" class="btn btn-primary">
  Create
</button>

<button type="button" (click)="updateEmployee()" *ngIf="emp.EmployeeId!='0'" class="btn btn-primary">
  Update
</button>-->
<!--<form>
  <div class="input-group mb-3">
    <span class="input-group-text">Product</span>
    <select class="form-select" (change)="selectedProduct($event)">
      <option value="0">--Select--</option>
      <option *ngFor="let prod of ProductList" [value]="prod.id">
        {{prod.Name}}
      </option>
    </select>
    <select [(ngModel)]="selected.isConnected" id="etat">
      <option [ngValue]="0">Not connected</option>
      <option [ngValue]="1">Connected</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="productCode">Product Code</label>
    <input type="text" readonly class="form-control" disabled="disabled" name="productCode" id="productCode" [(ngModel)]="code">
  </div>
  <div class="mb-3">
    <label for="productName">Product Name</label>
    <input type="text" readonly class="form-control" disabled="disabled" name="productName" id="productName" [(ngModel)]="productName">
  </div>
  <div class="mb-3">
    <label for="price">Price</label>
    <input type="text" readonly class="form-control" disabled="disabled" name="price" id="price" [(ngModel)]="price">
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <input type="text" readonly class="form-control" disabled="disabled" name="description" id="description" [(ngModel)]="description">
  </div>

  <div class="mb-3">
    <label for="quantity">Quantity</label>
    <input type="text" class="form-control" name="quantity" id="quantity" [(ngModel)]="quantity">
  </div>
</form>-->
